* {
  font-family: 'Montserrat', sans-serif;
}
.App {
  
}
.App-logo {
  /*animation: App-logo-spin infinite 20s linear; */
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  z-index: 1500;
}
.App-intro {
  font-size: large;
  display: flex;
  padding: 0 150px;
  line-height: 1.5;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

/*nav bar*/
a {
  text-decoration: none;
  color: black;
}
.main-nav a {
  padding: 10px 15px;
  text-align: center;
  text-transform: lowercase;
  font-size: .99em;
  display: block;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  padding: 10px 0;
  /*shadow*/
  border: 1px solid #aaaaaa;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}
.main-nav .logo {
  color: cornflowerblue;
  font-size: .99em;
  margin: 0;
}
.main-nav .nav {
  margin-top: 5px;
}
.main-nav a:hover {
  color: cornflowerblue;
}
.logo a{
  color: cornflowerblue;
}


.responsive {
  max-width: 100%;
  height: auto;
}
.responsive hover {
  opacity: 50%;
}

/* header image */
.imgcontainer {
  position: relative;
  padding-top: 60px;
}
.responsiveBackground {
  max-width: 100%;
  height: auto;
}
.header-name {
  text-align: center;
  color: white;
  position: absolute;
  top: 40%;
  left: 40%;
  
}


/*works section*/
.row {
  display: flex;
}
.column {
  flex: 1;
  padding: 10px;
}
.container {
  position: relative;
}
.container h1 {
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}
.overlay:hover  {
  opacity: 0.75;
}
.text {
  color: black;
  font-size: large;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-transform: lowercase;
}
.subtext {
  color: black;
  font-size: large;
  text-align: center;
  vertical-align: middle;
  text-transform: lowercase;
}



/*media queries*/
@media (max-width: 500px) {
  .about {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
  }
  .App-intro {
    font-size: medium;
    display: inline-block;
		padding: 15px;
  }
  .text, .subtext {
    font-size: small;
  }
  .header-name {
    font-size: large;
  }
  .imgcontainer {
    padding-top: 180px;
  }
}



/*for nav bar*/
@media (min-width: 500px) {
  .main-nav,
  .nav {
    display: flex;
  }
  .main-nav {
    flex-direction: column;
    align-items: center;
  }
  .imgcontainer {
    padding-top: 100px;
  }
}
@media (min-width: 1025px) {
	.main-nav {
		flex-direction: row;
    justify-content: space-between;
	}
  .imgcontainer {
    padding-top: 60px;
  }
}



@media screen and (max-width: 500px) {
  .column {
    width: 100%;
    display: block;
    padding: 50px;
  }
  .row {
    display: block;
  }
}