* {
  font-family: 'Open Sans', sans-serif;
}
.App {
  
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear; */
  height: 50px;
  position: center;
}

.App-header {
  max-width: 100%;
  display: block;
  height: auto;
  /*background-image: url("pokemon.json"); */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav {
  margin-top: 5px;
}