body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: black;
}

.svg-icon circle {
  stroke: black;
  stroke-width: 1;
}

.socials .svg-icon:hover {
  color:lightskyblue
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: stretch;
  align-content: center;
  min-height: 12vh;
  background-color: white;
  padding-top: 50px;
}